DEBUG=1
SECRET_KEY=x))o3_(azp2h*o%j-3&qk=7f2zyd&+^&=at1$75202z$u2a_90
SQL_ENGINE=django.db.backends.postgresql
REDIS_HOST=redis
POSTGRES_USER=wallet
POSTGRES_DB=wallet
POSTGRES_PASSWORD=wallet
POSTGRES_HOST=db
POSTGRES_PORT=5432
ALLOW_EMPTY_PASSWORD=yes
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/1
FLOWER_BASIC_AUTH=admin:useradmin
CELERY_BROKER_URL=redis://redis:6379/1

APP_NAME=sagecloud-wallet
APP_DESCRIPTION="SageCloud Wallet API"
STORAGE=S3
ACCESS_KEY_ID=DO00MEWB34PB9E4YYFYC
ACCESS_SECRET=Mx0ihESk497JwrOdE5PQIyQi81911ETiWiesdkizlxU
BUCKET_NAME=capitalsage
REGION_NAME=fra1
CUSTOM_DOMAIN=capitalsage.fra1.digitaloceanspaces.com
AUDITLOG_SERVICE_BASE_URL=http://host.docker.internal:23000
AUDITLOG_SERVICE_API_KEY=wGjbdDhC.iiD0zXVPbyvOjBXkTpuMqs4Z3pugOmGq
CLIENT_URL=https://sagecloud-wallet.netlify.app
KAFKA_BOOTSTRAP_SERVERS=redpanda:9092
KAFKA_EMAIL_TOPIC=send_emails

